
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Нэвтэрсэн эсэхийг шалгах функц
    function isSignedIn() {
      return request.auth != null;
    }

    // Эзэмшигч мөн эсэхийг шалгах функц
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // ========== Хэрэглэгчийн мэдээлэл ==========
    match /complimentOwners/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      match /{allSubcollections=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }



    // ========== Богино холбоос ==========
    match /shortLinks/{shortId} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    // ========== Нэргүй постууд ==========
    match /confessions/{confessionId} {
      allow read: if resource.data.isHidden == false;
      allow create: if true;
      allow update: if true;
      allow delete: if false;
    }

    // ========== Төлбөрийн нэхэмжлэхүүд ==========
    match /invoices/{invoiceId} {
      allow read: if isSignedIn() && (resource == null || resource.data.ownerId == request.auth.uid);
      // Серверээс нэхэмжлэх үүсгэх болон шинэчлэхийг зөвшөөрөх
      allow create: if true;
      allow update: if true;
      allow delete: if false;
    }
  }
}
